@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Modo Oscuro Manual */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;
}

/* Ocultar indicador de Next.js en desarrollo */
#__next-build-watcher {
  display: none !important;
}

nextjs-portal {
  display: none !important;
}
